# base from http://www.fromdual.com/mysql-configuration-file-sample
[mysql]
no_auto_rehash
max_allowed_packet = 16M
default_character_set = utf8


[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
default_storage_engine=InnoDB
character_set_server=utf8
collation_server=utf8_general_ci

[mysqld_safe]
log-error=/var/log/mysql56-mysqld.log